@charset "utf-8";
/* CSS Document */
.container{
	width: 1200px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.67%;
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.65%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.31%;
}
.col-8{
	width: 66.64%;
}
.col-9{
	width: 74.97%;
}
.col-10{
	width: 83.33%;
}
.col-11	{
	width: 91.63%;
}
.col-12{
	width: 100%;
}
.prl-10{
	padding: 0 10px;
	box-sizing: border-box;
}
.ptb-20{
	padding: 20px 0px;
	box-sizing: border-box;
}
.center-horizontal{
	justify-content: center;
}
